<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">
    <!-- custom css file link  -->
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>

<body>
    <main>
        <div class="background">
            <div class="text">
                <h1>Login</h1>
                <p>No Account? <a href="/user/register">Sign up</a></p>
            </div>
            <div class="box">
                <form class="form" method="post">

                    <input type="text" class="username" name="email" placeholder="Email" style="background-color:#fff" required> 
                    <input type="password" class="password" name="password" placeholder="Password"
                        style="background-color:#fff" required>
                    <input type="submit" class="button" value="Login">
                </form>
            </div>
        </div>
    </main>
</body>

</html>